{% if categories is defined %}
    <dl class="accordion">
        {% for category in categories %}
            <dd>
                <a href="#category_{{ snake_case(category.name) }}">{{ category-name }}</a>
                <div id="category_{{ snake_case(category.name) }}" class="content">
                    <ul class="side-nav">
                        {% for article in category.articles %}
                            <li><a href="{{ route('article', article.slug) }}">{{ article.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </dd>
        {% endfor %}
    </dl>
{% endif %}