{% extends 'main' %}
{% block article %}
    {{ parent() }}
    {{ form_open({'route': 'page.create', 'method': 'post'}) }}
    <div class="row">
        <div class="large-4 columns">
            {{ form_label('title', 'Title') }}
            {{ form_text('title', session_has('title') ? session_get('title') : '') }}
            {% if errors.has('title') %}
                <small class="error">{{ errors.first('title') }}</small>
            {% endif %}
        </div>
        <div class="large-4 columns">
            {{ form_label('slug', 'Url Slug') }}
            {{ form_text('slug', session_has('slug') ? session_get('slug') : '') }}
            {% if errors.has('slug') %}
                <small class="error">{{ errors.first('slug') }}</small>
            {% endif %}
        </div>
        <div class="large-4 columns">
            {{ form_label('category_id', 'Category') }}
            {{ form_select('category_id', categories.lists('name', 'id'), session_has('category_id') ? session_get('category_id') : '')
            }}
            {% if errors.has('category_id') %}
                <small class="error">{{ errors.first('category_id') }}</small>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="columns large-12">
            {{ form_label('content', 'Content') }}
            {{ form_textarea('content', session_has('content') ? session_get('content') : '') }}
            {% if errors.has('content') %}
                <small class="error">{{ errors.first('content') }}</small>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns right-align">
            {{ form_submit('Update', {'class': 'button small'}) }}
        </div>
    </div>

    {{ form_close() }}
{% endblock %}